<!-- <h1>All the cats</h1> -->
<table>
    <thead>
        <tr>
            <th colspan="2"> All available cats </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th>birth_date </th>
            <!-- <td>birth_date:</td> -->
            <td> <%= @cat.birth_date %> </td>
            <!-- <li>birth_date: <%= @cat.birth_date %> </li> -->
        </tr>
        
        <tr>
            <td>color:</td>
            <td> <%= @cat.color %> </td>
            <!-- <li>birth_date: <%= @cat.birth_date %> </li> -->
        </tr>
        
        <tr>
            <td>name:</td>
            <td> <%= @cat.name %> </td>
            <!-- <li>birth_date: <%= @cat.birth_date %> </li> -->
        </tr>
        
        <tr>
            <td>sex:</td>
            <td> <%= @cat.sex %> </td>
            <!-- <li>birth_date: <%= @cat.birth_date %> </li> -->
        </tr>
        
        <tr>
            <td>description:</td>
            <td> <%= @cat.description %> </td>
            <!-- <li>birth_date: <%= @cat.birth_date %> </li> -->
        </tr>
        
        
        <!-- <li>color: <%= @cat.color %> </li>
        <li>name: <%= @cat.name %> </li>
        <li>sex: <%= @cat.sex %> </li>
        <li>description: <%= @cat.description %> </li>
        </li> -->
    </tbody>
</table>

<!-- <ul>
  <li>birth_date: <%= @cat.birth_date %> </li>
  <li>color: <%= @cat.color %> </li>
  <li>name: <%= @cat.name %> </li>
  <li>sex: <%= @cat.sex %> </li>
  <li>description: <%= @cat.description %> </li>
  </li>
</ul> -->
